<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://kokopelli-semences.fr/media/cache/resolve/shop_product_large_thumbnail_2x/f0135-3.jpg);">
  <div class="container">
    <h1>Rent a plant !</h1>
    <p><%= @plants.count %> plants to rent.</p>
  </div>
</div>
